.row
  .six.columns.show-on-desktops
    %section.calendar
      %h4 Calendrier
      = render "home/calendar" 
      
  .six.columns.show-on-desktops
    %section.wishlist
      %h4 Liste de voeux
      = render "home/wish"
