.show-on-desktops
  = render "home/menu"

.show-on-phones    
  = render "home/phone"      
        
.container
  .row
    .six.columns.show-on-desktops
      %section.calendar
        %h4 Calendrier
        %ul
          -@birthdays.each do |i|
            %li
              =i.birthday
              =i.email

        
    .six.columns.show-on-desktops
      %section.wishlist
        %h4 Liste de voeux
    
    
          
        
%footer
