.container
  .row
    .six.columns.show-on-desktops
      %section.calendar
        %h4 Calendrier
        %ul
          -@birth.each do |i|
            %li
              =i.birthday.to_s.last(5).split("-").reverse.join("-") + " : "
              anniversaire de 
              =i.first_name + " " + i.last_name
              il aura
              =(Date.today.year - i.birthday.year)
              ans


    .six.columns.show-on-desktops
      %section.wishlist
        %h4 Liste de voeux
        %ol
          -@items.each do |i|
            %li
              &nbsp;
              =i.product_name

        = form_for @item do |f|
          = f.label :product_name
          = f.autocomplete_field :product_name, autocomplete_wishlistItem_product_name_wishlist_items_path
          = f.submit

    .six.phone-two.columns.show-on-phones
      %section.calendar
    .six.phone-two.columns.show-on-phones
      %section.wishlist
