%header 
.container 
  .row
    .six.columns.show-on-desktops
      %section.calendar
        =@birthdays.count
    .six.columns.show-on-desktops
      %section.wishlist
      
    .six.phone-two.columns.show-on-phones
      %section.calendar
    .six.phone-two.columns.show-on-phones
      %section.wishlist
%footer
