.show-on-desktops
  .container
    .row
      .twelve.columns.show-on-desktops
        %section.friends
          %h4 Gérer votre liste d'amis
          .row
            .four.columns.centered.show-on-desktops
              %input{:type => "text"} 
              %input{:type => "button", :value => "Inviter", :class => "invit nice small radius blue button"}
          
          .list_friends
            %ul
              -@friends.each do |f|
                %li 
                  = link_to f.first_name.capitalize + " " + f.last_name.capitalize, friend_path(f)
                  %span.delete 
                    =link_to "X", friend_path(f), :method => :delete, :confirm => "Voulez-vous supprimer " + f.first_name + " " + f.last_name
  %footer      

.show-on-phones    
  = render "home/phone"
