%p
  Nom : 
  =@friend.last_name
  %br
  Prénom :
  =@friend.first_name

%p
  - if @friend.birthday == nil then
    Pas d'information concernant la date d'anniversaire 
  - else
    Date d'anniversaire :
    =@friend.birthday
  
%p
  - if @friend.interests == nil or @friend.interests.count == 0 then
    Pas d'intérêt particulier
  - else
    Intérêts :
    =@friend.interests

%p
  - if @friend.wishlistItems.count == 0 then
    Il/Elle n'a pas de liste de souhaits
  - else
    Sa liste de souhaits :
%ul
  - @friend.wishlistItems.each do |i|
    %li
      = i.product_name

- if @friend.musics.count == 0 then
  %p
    Il/Elle n'a pas donné de détails concernant ses goûts musicaux
- else
  %ul
  - @friend.musics.each do |m|
    %li
      = m.name
	
- if @friend.musics.count == 0 then
  %p
    Il/Elle n'a pas précisé de films
- else
  %ul
  - @friend.films.each do |f|
    %li
      = f.name
