.hide-on-phones 
  .container
    .row 
      .six.columns.centered.connexion{ :style => 'text-align: center'  }
        = image_tag 'logo_final.png', { :class => 'logo' }
        %h1 Toupoutou Gift4YourFriends
        %figure.login
          %p
            A chaque personne son cadeau. Les Toupoutous sont là pour vous aider à trouver le bon !
          =link_to image_tag( 'poutou_accueil.png')  ,user_omniauth_authorize_path(:facebook), { :class => 'connect_with_fb' }
          =link_to 'Aidez les Toupoutous à trouver le meilleur cadeau grâce à Facebook !!', user_omniauth_authorize_path(:facebook), { :class => 'connect_with_fb' }
    .row    
      .twelve.columns.centered.connexion
    .row
      .five.columns.centered.connexion
        .login
          = link_to image_tag( 'login.png'), user_session_path
          %br
          %h5 Se connecter
        .inscription
          = link_to image_tag( 'inscription.png'), new_user_registration_path
          %br
          %h5 Inscription
:javascript
  $(document).ready(function () {  
   
    $(document).bind('keydown', 'c', function () {
      document.location.href="/users/sign_in" 
    });

    $(document).bind('keydown', 'i', function () {
      document.location.href="/users/sign_up" 
    });
    
    $(document).bind('keydown', 'f', function () {
      document.location.href="/users/auth/facebook" 
    });
  })
