// Place all the styles related to the dashboard controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

ul{
    display: block;
    width: 250px;
    margin: 0 auto;
}

.calendar {
    border: 1px solid grey;
}

.wishlist {
    background-color: #54439E;
}

.ui-menu-item {
  background: white;
  border-bottom: 1px solid #CCC;
  margin: 0;
}

/*
.publish-time {
	color: #999;
	font-size: smaller;
}


.show-on-phones{
    .date {
	    color: #999;
    }

    .nice.tabs { 
	    margin-top: 5px
    }
        
    #homeTab{
        width: 180px;
    }
    ul ul {
	    margin-left: 0;
    }
}
*/
