html, body{
	height: 100%;
}

header{
    height: 100px;
    background-color: #E8E4F9;
}

.container{
    padding: 0 0;
    height: 100%;
}

.show-on-desktops .calendar {
    height: 300px;
    background-color: #A6A2B7;
}

.show-on-desktops .wishlist {
    height: 300px;
    background-color: #54439E;
}

.show-on-phones .calendar {
}

.show-on-phones .wishlist {
}

footer{
    position: absolute;
    height: 100px;
    width: 100%;
    background-color: #E8E4F9;
}
