html, body{
	height: 100%;
	color: black;
}

h4 {
    padding: 10px;
    text-align: center;
}

header{
    height: 50px;
}

.container{
    padding: 0 0;
    height: 90%;
    position:relative;
}
/*
footer{
    position: absolute;
    height: 50px;
    width: 100%;
    background-color: #E8E4F9;
}
*/
ul.topnav {
    margin-top: 25px;
	float: left;
    width: 100%;
    border-bottom: 1px solid grey;
    li {
        float: left;
        margin: 0;
        padding:{
            top: 2px;
            bottom: 1px;
            left: 5px;
            right: 20px;
        }
        width: 170px;
        position: relative;
        list-style:none;
    }
}

ul.contained.tabs-content li {
    border: none;
}
