html, body{
	min-height: 100%;
	color: black;

}

h1 {
  text-align: center;
  font-size: 36px;
}

h4 {
    padding: 10px;
    text-align: center;
}

.logo {
  margin: 0 auto;
}

.connect_with_fb {
  text-align: center;
  font-size: 20px;
  line-height: 30px;
  img {
    width: 50%;
    margin: 0 auto;
    display: block;
  }
}

header{
    margin-bottom: 10px; background: #f8ffe8; /* Old browsers */
  background: #bfdd52; /* Old browsers */
  background: -moz-linear-gradient(top,  #bfdd52 0%, #e3f5ab 33%, #ffffff 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#bfdd52), color-stop(33%,#e3f5ab), color-stop(100%,#ffffff)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  #bfdd52 0%,#e3f5ab 33%,#ffffff 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  #bfdd52 0%,#e3f5ab 33%,#ffffff 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  #bfdd52 0%,#e3f5ab 33%,#ffffff 100%); /* IE10+ */
  background: linear-gradient(top,  #bfdd52 0%,#e3f5ab 33%,#ffffff 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#bfdd52', endColorstr='#ffffff',GradientType=0 ); /* IE6-9 */

  font-weight: bold;
  font-size: 1.2em;
  a {
    color: #333;
  }
}

input[type=text], input[type=password], input[type=email] {
  padding: 10px;
  margin: 5px;
  border: 1px solid gray;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}


.container{
    padding: 20px;
}
/*
footer{
    position: absolute;
    height: 50px;
    width: 100%;
    background-color: #E8E4F9;
}
*/
ul.topnav {
    display: table;
    height: 150px;
    width: 100%;
    border-bottom: 1px solid #bfdd52;
    li {
      margin: 0;
      padding {
        top: 2px;
        bottom: 1px;
        left: 5px;
        right: 20px;
      }
      width: 170px;
      position: relative;
      list-style:none;
    }
    img {
      height: 80px;
    }
}

ul.topnav li {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
}

// ul.topnav li .friendsimg img{
    // text-decoration: none;
    // margin-top: 35px;
    // width: 80px;
// }

.amis{
    margin-left: 20px;
    text-align: center;
}

// ul.topnav li .wish img{

//     width: 55px;
// }

ul.contained.tabs-content li {
    border: none;
}

/* Foundation v2.1.1 http://foundation.zurb.com */
/* Artfully masterminded by ZURB  */

/* -------------------------------------------------- 
   Table of Contents
-----------------------------------------------------
:: Shared Styles
:: Page Name 1
:: Page Name 2
*/


/* -----------------------------------------
   Shared Styles
----------------------------------------- */

li {
    margin: 0 0;
    padding: 0 0;
}

ul {
    width: 100%;
}
.publish-time {
	color: #999;
	font-size: smaller;
}

.date {
	color: #999;
}

.nice.tabs { 
	margin-top: 5px;
	height: 68px;
}

dl.tabs dd a {
	height: 55px !important;
}

ul ul {
	margin-left: 0;
}

a.close { color: #000; position: absolute; right: 4px; top: 0px; opacity: 0.2; padding: 4px; }
a.close:hover,.alert-box a.close:focus { opacity: 0.4; }

#homeLink {
	background: asset_url('home.png', image) 4px no-repeat;
	width: 35px;
}

#calendarLink {
	background: asset_url('calendar.png', image) 14px no-repeat;
	width: 35px;
}

#friendsLink {
	background: asset_url('friends.png', image) 4px no-repeat;
	width: 35px;
}

#wishesLink {
	background: asset_url('wishes.png', image) 14px no-repeat;
	width: 35px;
}

.nice.tabs dd a {
	opacity: 0.5;
}

.nice.tabs dd a.active {
	opacity: 1;
}

/*
.tabs-content {
	height: 100%;
	background: url(../images/logo.png) top right no-repeat;
}
*/



/* -----------------------------------------
   Page Name 1
----------------------------------------- */






/* -----------------------------------------
   Page Name 2
----------------------------------------- */


